<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">{{{or page.title 'Page introuvable'}}}</h1>
<div class="paragraph">
<p>La page que vous cherchez n&#8217;existe. Cette page a peut-être été déplacé.</p>
</div>
<div class="paragraph">
<p>Si vous êtes arrivé sur cette page en utilisant un lien, veuillez prévenir le propriétaire que le lien n'est plus fonctionnel.
Si vous avez saisi le lien manuellement, veuillez vérifier votre saisie.</p>
</div>
{{else}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{/if}}
{{> pagination}}
</article>
