<footer class="footer footer-flex">
  <div>
    <p>Cette page a été créé avec une <a href="https://gitlab.com/infradoc/ui">version modifiée</a>
      de <a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a>.</p>
    <p>Le code source de cette interface est sous licence
      <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a> (MPL-2.0).</p>
  </div>
  <img src="{{{uiRootPath}}}/img/infradoc.png">
</footer>
