<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/home">Accueil</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">Catégories</p>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/infra">Infrastructure</a>
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/reseau">Réseau</a>
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/systeme">Système</a>
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/autre">Autre</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">Projet</p>
          <div class="navbar-dropdown">

            <a href="https://gitlab.com/infradoc/composant-infra/" class="navbar-item" style="font-weight: bold">Composant Infra</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/composant-infra/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a href="https://gitlab.com/infradoc/composant-reseau/" class="navbar-item" style="font-weight: bold">Composant Réseau</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/composant-reseau/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a href="https://gitlab.com/infradoc/composant-systeme/" class="navbar-item" style="font-weight: bold">Composant Système</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/composant-systeme/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a href="https://gitlab.com/infradoc/composant-autre/" class="navbar-item" style="font-weight: bold">Composant Autre</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/composant-autre/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a href="https://gitlab.com/infradoc/site/" class="navbar-item" style="font-weight: bold">Générateur</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/site/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a href="https://gitlab.com/infradoc/ui/" class="navbar-item" style="font-weight: bold">UI</a>
            <a class="navbar-item" href="https://gitlab.com/infradoc/ui/-/issues">Issues</a>
            <hr class="navbar-divider">

            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/home/contribution.html">Contribution</a>
            <hr class="navbar-divider">

            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/antora/2.3/">Antora Doc</a>
          </div>
        </div>
        <a class="navbar-item" href="mailto:antoine.thys@ynov.com" target="_blank">Contact</a>
        <div class="navbar-item">
          <span class="control">
            <a href="https://gitlab.com/infradoc" target="_blank"><img class="button" src="https://upload.wikimedia.org/wikipedia/commons/e/e1/GitLab_logo.svg"></a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
